
*.code-workspace

## ignore all
/*

# add .gitgnore
!.gitignore

## add dirs
!/lib/
!/orig/
!/system/

/lib/epo/*
/lib/rts/*/*
/lib/platform/*/*
/lib/gen/*
/lib/system/*/*

# add/exclude module files
!*.mod
*.rsc
*.smb
*.lst
*.bin
!*.md
*.mem
